*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.box{
    border: 1px solid rgb(247, 61, 92);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 10cm;
    background: pink;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.list{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
   
}
.text{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.add-btn{
    background-color: rgb(253, 13, 205);
    color:white;
    padding: 5px;
    width: 2cm;
    border-radius: 5px;
    border: none;
    margin: 0px 10px;
}
.list-item{
    list-style: none;
    width: 3cm;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(247, 61, 92);
    border-radius: 5px;
    padding: 5px;
}

.rm-btn{
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(253, 13, 205);
    color:white;
    border-radius: 5px;
    border: none;
}
.edit-btn{
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(253, 13, 205);
    color:white;
    border-radius: 5px;
    border: none;
}
.update-btn{
    padding: 5px;
    background-color: rgb(253, 13, 205);
    color:white;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}
.text{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}